:root {
    --header-parrafo:
        verdana,
        arial,
        georgia;
    --font-size: .9rem;
    --nav-menu: #000;
    --border-radius-nav: 5px;
    --color-letras-nav: #fff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* ?Contenedor Universal */
.contenedor {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.flex {
    display: flex;
    gap: 20px;
}

/* !------- HEDEAR -------- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding-top: 1.2rem;
    padding-bottom: 2rem;
}

.header__descripcion p {
    margin: 0 0 4px;
    font-family: var(--header-parrafo);
    font-size: var(--font-size);
}

figure {
    margin: 0;
}

.header__logo {
    width: 300px;
}

.header__logo img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.header__link a {
    color: #099c8c;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

/* !------- NAV -------- */

.flex-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.flex-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: calc(100% - 190px);
    padding-right: 1.5rem;
}

.list-nav {
    display: block;
    width: calc(100% - 5rem);
    order: 0;
}

.menu-nav {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-nav a {
    text-decoration: none;
}

.list-nav a,
.boton {
    font-size: var(--font-size);
    background-color: var(--nav-menu);
    color: var(--color-letras-nav);
    padding: .3rem .5rem;
    border-radius: var(--border-radius-nav);
    display: inline-block;
    transition: all .3s ease;
    margin-top: .4rem;
    margin-bottom: .4rem;
}

.boton {
    border: none;
    cursor: pointer;
}

.buscador form input {
    border: 1px solid var(--nav-menu);
    border-radius: var(--border-radius-nav);
    font-size: var(--font-size);
    padding: .3rem 1rem;
    width: 100%;
}

/* !Contenedor de peliculas */

.contenedor-peliculas {
    width: 70%;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.peliculas-item {
    border-radius: 10px;
    min-height: 280px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;

    width: calc(33.33% - 20px);
}

.peliculas-item .textos {
    color: var(--color-letras-nav);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* !Contenedor de noticias */
.sidebar {
    background: slategray;
    border-radius: 10px;
    text-align: center;
    padding: 20px;

    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}