:root {
    --header-parrafo:
        verdana,
        arial,
        georgia;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.contenedor-header {
    /* background: tan; */

    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding-top: 1.2rem;
    padding-bottom: 2rem;
}

.header__descripcion p {
    margin: 0 0 4px;
    font-family: var(--header-parrafo);
    font-size: 12px;
}

figure {
    margin: 0;
}

.header__logo {
    width: 300px;
}

.header__logo img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

figure {
    display: block;
    -webkit-margin-before: 1em;
            margin-block-start: 1em;
    -webkit-margin-after: 1em;
            margin-block-end: 1em;
    -webkit-margin-start: 40px;
            margin-inline-start: 40px;
    -webkit-margin-end: 40px;
            margin-inline-end: 40px;
}

.header__link a {
    color: #099c8c;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

/* @media screen and (min-width: 767px) {
    .header__description p {
        display: block;
    }
} */